.product {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: $lato;
  border-bottom: 1px solid $silver;
  padding: 2rem;
  flex-direction: column;
  transition: all 0.4s;

  &:hover {
    transform: translateY(5px);
    border: 1px solid $silver;
  }

  @include md() {
    flex-direction: row;
  }

  a {
    border-bottom: 2px solid transparent;
    transition: ease 0.5s;

    &:hover,
    &:focus {
      color: $black;
      outline: none;
      text-decoration: none;
      border-bottom: 1px solid $black;
    }
  }

  &:focus {
    outline: $dusty-gray;
    outline-style: auto;
  }

  &__img {
    flex: 2;
    display: flex;
    justify-content: center;
    width: 100%;

    @include md() {
      flex: 1;
      width: inherit;
      justify-content: flex-start;
    }

    img {
      max-width: 200px;
      max-height: 200px;
      width: 100%;

      @include md() {
        max-width: 90px;
        max-height: 90px;
      }

    }
  }

  &__description {
    flex: 3;

    @include sm() {
      flex: 5;
    }

  }

  &__location {
    flex: 1;
    color: $dove-gray;
    font-size: 1.3rem;

    @include md() {
      font-size: 1rem;
    }
  }

  &__price {
    font-size: 1.3rem;
    font-weight: 600;
  }

  &__title {
    color: $mine-shaft;
    text-transform: capitalize;
    font-size: 2rem;

    @include md() {
      font-size: 1.2rem;
    }
  }
}
