/* ============================================================================================================ */
/* Settings */
/* ============================================================================================================ */


/********************* Colors *********************/

/* Names were taken from the website name that color*/
$turbo:#FFE600;
$mine-shaft: #333333;
$dove-gray: #666666;
$dusty-gray: #999999;
$gallery: #EEEEEE;
$white: #fff;
$concrete: #F4F2F2;
$silver: #cccccc;
$alabaster: #FAF9F9;
$black: #000000;
/********************* Fonts *********************/
/* in replacement of proxima nova font (used in MELI as predominant font) */
$lato: Lato;
$default-font-size: 1.6rem;

/* ============================================================================================================ */
/* End Settings */
/* ============================================================================================================ */
